<div class="profile d-flex justify-content-center mt-2">
  <figure class="figure-profile p-5 d-flex justify-content-around
  align-items-center ">
    <% if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, :size => "400x400", class:"border border-3 rounded-circle"%>
          <% else %>
              <%= image_tag ("download.jpeg")%>
          <% end %>
    <!--<img class="photo-profile border border-3 rounded-circle m-5" src="//s3-us-west-2.amazonaws.com/s.cdpn.io/55758/random-user-31.jpg" alt="" />-->
  </figure>

  <div class="list list-profile bg-white border border-3 m-5 border rounded-5 p-5 mx-2" >
      <h2>Name</h2>
      <p><%= current_user.first_name %> <%= current_user.last_name %></p>
      <h2>Email </h2>
      <p><%= current_user.email %></p>
      <h2>My Donations</h2>
        <dd><%= @total_donations %> donations realized</dd>
      <h2>Hometown</h2>
        <dd>Sao Paulo, Brazil</dd>
      <h2>Rewards</h2>
        <dd>xxxxx</dd>
      <div class="edit-account">
        <%= link_to "Edit my account", edit_user_registration_path(current_user), class:"btn-chat" %></p>
      </div>
      <div class="see-donations">
        <%= link_to "See my donations", confirmation_path(current_user), class:"btn-chat" %></p>
      </div>
  </div>
</div> <!-- end profile -->
