<div class="position-sticky navbar navbar-expand-sm navbar-light navbar-lewagon z-30 w-100">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag ("logo_2.png") %>
    <% end %>
      <%= form_tag donations_path, method: :get, class:"flex-form col-lg-12 mx-auto text-white text-center"  do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "What are you looking for?"
        %>
        <%= submit_tag "Search", class: "btn btn-primary z-20" %>
      <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Donations", donations_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" data-bs-toggle="dropdown"><%= current_user.email %></a>
          <li class="nav-item dropdown">
          </li>
          <% if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <p class= "ps-2 pt-2"><%= current_user.first_name%></p>
          <% else %>
              <%= image_tag ("download.jpeg"), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", current_user, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
          </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
