<br>
<div class="container d-flex h-100 w-100 position-relative ">
  <div class= "d-flex justify-content-around align-items-center ">
    <div class="card d-flex justify-content-between align-items-center col-4 w-50 mx-5 mb-4">
      <h4 class="card-title text-center"><strong><%= @donation.donation_name%></strong></h4>
      <%= cl_image_tag @donation.image.key, crop: :fill, class: "donation-img w-100 h-60 px-5" %>
      <div class="card-body w-100">
        <h6 class="card-infos text-muted"><%= @donation.description %></h6>
        <p class="card-text"><strong>Category: </strong><%= @donation.category.name %></p>
        <p class="card-text"><strong>Quantity: </strong><%= @donation.quantity %></p>
        <p class="card-text"><strong>Address: </strong><%= @donation.location %></p>

        <% if @donation.user_id == current_user.id %>
          <div class=" d-flex justify-content-around">
            <%= link_to 'Delete', donation_path(@donation), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to 'Edit', edit_donation_path(@donation), class: 'btn btn-primary' %>
            <%= link_to 'Back', donations_path, class: 'btn btn-warning' %>
          </div>
        <% else %>
          <div class="d-flex justify-content-around">
            <%= link_to 'Donate now', root_path, class: "btn btn-success", data: { confirm: 'thank you for your donation' } %>
            <%= link_to 'Back', root_path, class: 'btn btn-warning' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="chatroom col-8 h-100 w-50 "
      data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
      data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

      <h1>#<%= @chatroom.name %></h1>
      <div class="messages" data-chatroom-subscription-target="messages">
        <% @chatroom.messages.each do |message| %>
          <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
            <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
              <%= render 'messages/message', message: message %>
            </div>
          </div>
        <% end %>
      </div>

      <div>
        <%= simple_form_for [@chatroom, @message], remote: true, html: {data: {action: 'ajax:success->chatroom-subscription#resetForm' }, class: 'd-flex' } do |f| %>
          <%= f.input :content,
          label: false,
          placeholder: "Message #{@chatroom.name}",
          wrapper_html: { class: 'flex-grow-1' } %>
          <%= f.submit 'Send', class: 'btn btn-primary' %>
        <% end %>
      </div>

    </div>
  </div>
</div>
