<div class="container_donations d-flex h-100 w-100 position-relative">
  <div class="grid-donations mx-2 mt-2 h-100 d-flex flex-wrap justify-content-around" style="width: 60%;">
    <% if @confirmations.empty? %>
      <h5>Sorry, we couldn't find what you're looking for.</h5>
    <% else %>
      <% @confirmations.each_with_index do |confirmation, index| %>
        <div class="donation-card card d-flex flex-column align-items-center p-2 m-2">
          <div class="card-body d-flex flex-column bg-white donation-body justify-content-between">
          <div class="d-flex justify-content-between">
            <h4 class="card-title"><strong><%= confirmation.donation_name %></strong></h4>
          </div>
          <div class="mb-2 mt-2 d-flex align-content-center">
            <label for=""><i class="fas fa-map-marker-alt"></i> <%= confirmation.location %></label>
          </div>
            <p class="card-text"><%= confirmation.description %></p> <!-- Comentario aqui ><!-->
          <div class="mb-2 mt-2 d-flex align-content-center">
            <label for=""><i class="fas fa-hands-helping"></i> <%= confirmation.donation_received %> persons donated</label>
          </div>
            <%= link_to 'Donation', donation,class:"btn btn-primary" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
